<div id="content">
  <div id="message"></div>
  <img width="150" height="150" src="{{user.avatar_url}}">
  <h4>User guid: {{user.guid}}</h4>
  <div>
    <input id="email" type="text" value="{{user.email}}">
    <button id="btn-change-email">Change email</button>
  </div>
  <div>
    <input id="password" type="password" placeholder="Password">
    <input id="new-password" type="password" placeholder="New password">
    <button id="btn-change-password">Cahnge password</button>
  </div>
  <button id="btn-logout">Logout</button>
  <button id="btn-delete">Delete account</button>
</div>