<div>
  <div id="message"></div>
  <form role="form" class="form">
    <label for="email">Email</label>
    <input id="email" type="email" placeholder="Your email" autocomplete autofocus required/>
    <label for="password">Password</label>
    <input id="password" type="password" placeholder="Your password"/>
    <label for="remember-me">Remember me</label>
    <input id="remember-me" type="checkbox" checked>
    <div>
      <button id="button-login">Login</button>
      <button id="button-register">Register</button>
      <button id="button-reset">Reset password</button>
    </div>
  </form>
</div>